<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :content %><br>
    <%= f.text_area :content %>
  </div>

  <div class="field">
    <%= f.label :task_ids %><br>
    <%= f.text_field :task_ids, class: 'select2-multiple', data: {model: :Task, column: :status, init: f.object.tasks.map{|task| {id: task.id, text: task.status } } } %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
